<div class="jumbotron mt-4">
  <center>
  <h1 class="display-4 animated wobble"><strong>Recursos </strong></h1>

  <p class="lead animated jello">Aqui puedes subir tus Recursos multimedia que has creado en el año.</p>
  <hr class="my-4">
  <p class="title animated shake "><strong> MONTERÍA-CÓRDOBA-COLOMBIA</strong>
  </p>
</center>
</div>

